{% extends 'base.html' %}
{% block title %} add purchase{% endblock title %}

{% block scripts %} {% endblock %}

{% block content %}
      
    {% if success_message %}          
        <div class="alert alert-success" role="alert">
            <strong>{{ success_message }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    {% if error_message %}          
        <div class="alert alert-danger" role="alert">
            <strong>{{ error_message }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %} 

    <form method='POST' action="{% url 'goods:amount_form_url' %}" class="">
        {% csrf_token %}
        <div class="card">
            <div class="card-header"><strong>Goods details</strong><a id="AddForGoods" class="btn btn-info"  href="{% url 'goods:goods_form_url' %}">Add new good</a><a id='DeleteForGoods' class="btn btn-danger" href="{% url 'goods:delete_goods_url' %}">Delete</a> </div>
                <div class="card-body"> 
                    {% for a_good in all_goods %}
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-3"><strong>{{a_good.good_name}}:</strong></div>
                                <div class="col-sm-2"><a href="{% url 'goods:details_form_url' a_good.id %}" class="btn btn-light" role="button">Raw Materials</a></div>
                                <div class="col-sm-3"><a href="{% url 'goods:update_item_url' a_good.id %}" class="btn btn-light" role="button">Add existing Raw Material</a></div>
                                <div class="col-sm-3"><a href="{% url 'goods:add_rawTo_good_url' a_good.id %}" class="btn btn-light" role="button">Add New Raw Material</a></div>
                                <div class="col-sm-1"><a href="{% url 'goods:delete_good_url' a_good.id %}" class="btn btn-light" role="button"><button type="button" class="close" ><span aria-hidden="true">&times;</span></button></a></div>
                            </div>
                        </div>
                        <br>
                    {% endfor %}
                </div>
            </div><br>
        </div>
    </form>
{% endblock %}