{% extends 'base.html' %}
{% block title %} add purchase{% endblock title %}

{% block content %}
    <h3 style="color:rgb(7, 4, 218);"><u>Enter amount of each raw material required for each good</u></h3>
    <br>
    <form method='POST' action="{% url 'goods:amount_form_url' %}" class="">
        {% csrf_token %}
        
        {% for a_good in all_goods %}
            <h5><u>{{a_good.good_name}}</u>:</h5>
            {% if a_good.raw_material.all %}
                {% for a_raw in a_good.raw_material.all %}
                    <label for="colFormLabel" class="col-sm-6 col-form-label">{{a_raw}}</label>
                    {% for an_amount in all_Amount %}
                        {% if an_amount.goods == a_good and an_amount.raw_mate == a_raw and an_amount.required_amount == 0%}
                            <input value="" type="number" class="col-sm-2" placeholder="" name="{{a_good.good_name}} -> {{a_raw}}" required><br>
                            {{break}}
                        {% elif an_amount.goods == a_good and an_amount.raw_mate == a_raw and an_amount.required_amount != 0%}
                            <input value="{{an_amount.required_amount}}" type="number" class="col-sm-2" placeholder="" name="{{a_good.good_name}} -> {{a_raw}}" required><br>
                            {{break}}
                        {% endif %}
                    {% endfor %}                    
                {% endfor %}
                <br>
            {% else %}
                <h5 style="color:darkcyan;">no raw materials are entered for this good...</h5><br>
            {% endif %}
        {% endfor %}

        <input type="submit" class="btn btn-info" value='save'/>
    </form>

{% endblock %}