{% extends 'base.html' %}
{% load static %}

{% block scripts %}
    <script type="text/javascript">
        document.getElementById("moreFields").addEventListener("click", moreFields);
        var name1 = document.getElementById("mohan")
        //var name2 = document.getElementById("mohan1")
        var counter= name1.getAttribute("name") 
        //var counter1= name2.getAttribute("name") 
        function moreFields() {
            //document.write(counter1)
            counter++;
            var newFields = document.getElementById('repeat').cloneNode(true);
            newFields.id = '';
            newFields.style.display = 'block';
            var newField = newFields.childNodes;
            var RawMat=document.getElementById('raw')
            RawMat.name=String('raw_material')+String(counter)
            var ReqAmt=document.getElementById('req')
            ReqAmt.name=String('required_amount')+String(counter)

            var Place_hold1=document.getElementById('raw')
            Place_hold1.placeholder=String('Raw Material ')+String(counter)
            
            var insertHere = document.getElementById('writeroot');
            insertHere.parentNode.insertBefore(newFields,insertHere);
        }
    </script>
    <link rel="stylesheet" src='/static/css/base.css'>
{% endblock %}

{% block content %}
    <div id="repeat" style="display: none">
        <div class="row" >
            <div class="col">
                <input class="form-control" list="datalistOptions" id="raw" type="text" name="raw_material{{length}}" placeholder='Raw Material {{length}}'>
                <datalist id="datalistOptions">
                    {% for an_item in items %}
                        <option value="{{ an_item.name }}">
                    {% endfor %}
                </datalist><br>
            </div>
            <div class="col"><input type="number" class="form-control" id="req" name="required_amount{{length}}" placeholder='Required Amount' min="1" required></div>  
            <input class="btn btn-danger" type="button" id='remove_btn' value="Remove" onclick="this.parentNode.parentNode.removeChild(this.parentNode);">  
            <div class="col"></div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">Add existing rawmaterial to the <strong>{{a_good.good_name}}</strong></div>
        <div class="card-body"> 
            <form method='POST' action='' id="our-div" >
                {% csrf_token %}
                <label for="">Raw Materials: </label>
                <input type="button" id = "moreFields" value="+" />
                <span id="writeroot"></span><br>
                <span id="mohan" name="{{length}}"></span>
                <input type="submit" class="btn btn-info" value='Create' id="our-paragraph"/>
            </form>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-header">Rawmaterial added to <strong>{{a_good.good_name}}</strong></div>
        <div class="card-body"> 
            {% for a_amount in all_amount %}
                {{a_amount.raw_mate.name}}<br>
            {% endfor %}
        </div>
    </div>
{% endblock %}  