{% extends 'base1.html'%}

{% block title %} upload sales data{% endblock title %}

{% block content %} 
    <u><h1>Sales data:</h1></u>
    <h3 style="color: rgb(99, 20, 245);" >Make sure all the items in the file are already uploaded into software......</h3>
    {% if success_message %}
        <div class="ui success message">
            <i class="close icon"></i>
            <div class="header">{{ success_message }}</div>
        </div>
    {% endif %}
    {% if error_message %}
        <div class="ui negative message">
            <i class="close icon"></i>
            <div class="header">{{ error_message }}</div>
        </div>
    {% endif %}
    <form action="" method="POST" enctype="multipart/form-data" class="ui form" >
        {% csrf_token %}
        {{form}}
        <button type="submit" class="ui positive button mtop">Add data</button>
    </form>
{% endblock content %}

